.git
.idea
.venv
__pycache__
*.pyc
.ipynb_checkpoints

final_project/.env
final_project/data/external/*
final_project/data/interim/*
final_project/data/processed/*
final_project/data/raw/*
final_project/data/predictions/*
final_project/models/*
final_project/lightning_logs/*

lab_1_logging
lab_2_3_trainer
lab_4_gan
utils
