pandas==2.2.3
numpy==2.2.1
matplotlib==3.10.1
torch==2.6.0
python-dotenv==1.0.1
torchvision==0.21.0
lightning==2.5.0.post0
pytorch-lightning==2.5.0.post0
torchview==0.2.6
click==8.1.8
torchview==0.2.6
graphviz==0.20.3
scikit-learn==1.6.1
torchmetrics==1.6.2
clearml==2.0.2
catboost==1.2.8
tqdm==4.67.1
pillow==11.2.1
seaborn==0.13.2